<div data-controller="feed">
    <div class="row">
        <div class="col-md-3">
            <%= render partial: "layouts/sidebar", locals: {tab: "Feed"} %>
        </div>
        <div class="col-md-9 px-4 py-4">
                <h1>Feed</h1>
                <hr>
                <% @feed.each do |feed_element| %>
                    <%= render partial: "assembly", locals: {assembly: feed_element} %>
                <% end %>
                        <nav>
            <ul class="pagination justify-content-center">
                <% if @page_count < 5 %>
                    <% @page_count.times do |idx| %>
                    <li class="page-item">
                        
                        <%= link_to (idx + 1), feed_page_path(idx + 1), class: "page-link #{"active" if @current_page.to_i == idx + 1}" %>

                      </li>
                    <% end %>

                <% end %>
            </ul>
        </nav>

            <%= render partial: "layouts/footer" %>
        </div>
    </div>
</div>