<div class="container" role="button" onclick="location.href='/orders/<%= order.id %>'">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-md-9 p-4 d-flex flex-column position-static">
            <div class="row">
                <div class="col-md-6">
                    <strong class="d-inline-block mb-2 text-primary-emphasis"><%= order.artist %></strong>
                </div>

            </div>
            <h3 class="mb-0"><%= assembly.name %></h3>
            <div class="row">

            </div>
            <div class="py-3">
                <div class="pb-3 row">

                </div>

                <div class="pb-3 row">
  
                </div>

            </div>
        </div>

    </div>
</div>