<div class="row">
    <div class="col-md-3">
        <%= render partial: "layouts/sidebar", locals: {tab: "Docs"} %>
    </div>

    <div class="col-md-9">

        <div data-controller="docs">
            <h3>Docs</h3>
            <pre><code id="preCode" class="language-javascript"></code></pre>
        </div>
    </div>

</div>
