<div data-controller="simulator">
    <div class="row">
        <div class="col-md-3">
            <%= render partial: "layouts/sidebar", locals: {tab: "Simulator"} %>
        </div>
        <div class="col-md-9">
            <div class="conatiner p-4">
            <h2>Simulator</h2>
            <div class="row mx-1">
                <div class="simulator-container shadow-sm p-0 m-0" id="guiContainer" style="width: 100%; min-height: 40vh;">
                    
                </div>
            </div>
            </div>
            <%= render partial: "layouts/footer" %>
        </div>
        
    </div>
</div>