<div data-controller="simulator">

    <div class="row">
        <div class="col-md-3">
            <%= render partial: "layouts/sidebar", locals: {tab: "Inspector"} %>
        </div>
        <div class="col-md-9">
            <div class="conatiner p-4">
            
            <%= render partial: "layouts/footer" %>
        </div>
        
    </div>
</div>