<div class="row">
    <div class="col-md-3">
        <%= render partial: "layouts/sidebar", locals: {tab: "Home"} %>
    </div>
    <div class="col-md-9 px-4 py-4">
        <h1>Home</h1>
        <hr>
        <%= render partial: "layouts/footer" %>
    </div>
</div>